%p#notice= notice

%blog-data
  %h1= @blog.title

  %p
    %b Title:
    = @entry.title

  %p
    %b Body:
    = @entry.body

  = link_to 'Edit', [:edit, @blog, @entry]
  \|
  = link_to 'Back', @blog

#comment-list
  %h2 Listing Comments

  %ul#list-header
    %li Body

  %ul#list-body
    - @comments.each do |comment|
      %li.line
        %ul.comment-data
          %li= approved_comment?(comment) ? comment.body : '(承認待ち)'

        %ul.actions
          %li= approved_comment?(comment) ? '' : link_to('Approve', approve_blog_entry_comment_path(@blog, @entry, comment), method: :patch)
          %li= link_to 'Destroy', [@blog, @entry, comment], method: :delete, data: { confirm: 'Are you sure?' }

%h2 New comment

= render 'comments/form', blog: @blog, entry: @entry, comment: @comment
